/* Global Variables*/
:root{
    --main: #ff0000;
    --main: #000;
    --main: #fff;
}
::selection{
    background: var(--main);
    color: var(--white) !important;
}
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    transition: 0.3s;
}
body{
    background: linear-gradient(rgba(22,24,22,22), #6a6d6e);
    overflow-x: hidden;
}
.btn{
    background: #ff0000;
    width: 150px;
    border-radius: 10px;
    color: #fff !important;
    font-weight: bold;
    margin: 5px 5px;
    transition: 0.2s;
}
.btn:hover{
    letter-spacing: 3px;
}
.content{
    display: flex;
    justify-content: space-between;
    color: #fff !important;
    margin: 40px auto;
}
.content h5{
    font-weight: bold;
    font-size: 35px;
}
.content a{
    font-weight: bold;
    color: #fff !important;
    transition: 0.3s ease-in-out;
}
.content a:hover{
    letter-spacing: 2px;
    color: #ff0000 !important;
}
html::-webkit-scrollbar-thumb{
    background: #ff0000;
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-track{
    background: rgba(22, 65, 65);
}
/* Navbar Section Start*/
.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    transition: 1s ease-in-outz;
}
.navbar .scroll{
    background: rgba(133, 126, 126);
}
.navbar-brand{
    font-weight: 600;
    font-size: 2em;
    color: #fff !important;
    padding-left: 100px;
}
.navbar-brand span{
    font-weight: 800;
    font-size: 1.5em;
    color: #ff0000 !important;
}
.navbar-nav{
    padding-right: 40px;
}
.navbar .nav-link{
    font-weight: bold;
    color: #fff !important;
    margin-left: 5px;
}
.navbar .nav-item .active{
    background-color: #ff0000;
    border-radius: 5px;
}
.navbar .btn{
    background-color: #ff0000;
    width: 100px;
    border-radius: 5px;
}
/* Navbar Section End*/

/* Header Section Start*/
.header{
    padding: 100px;
}
.header .row{
    position: relative;
    margin-top: 100px;
}
.header .col-sm-7 img{
    height: 500 !important;
    width: 930px !important;
}
.header .text-section h3{
    font-family: 600;
    font-size: 56px;
    color: #fff !important;
    margin-bottom: 30px;
}
.header .text-section h3 span{
    color: #ff0000 !important;
    font-weight: 800;
    font-size: 1.5em !important;
}
.header .text-section p{
    font-weight: 700;
    font-size: 13px;
    color: #fff;
}
.header .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.3;
}
/* Header Section End*/

/* Popular Cars Section Start*/
.popular{
    margin: 200px auto;
}
.popular .row{
    margin-bottom: 50px;
}
.popular .box{
    box-shadow: 10px 10px 10px -10px
    rgba(0, 0, 0, 0.2), inset 10px 10px 10px -10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 20px;
    height: 200px;
    width: 250px;
    margin-bottom: 60px;
    transition: 1s ease-in-out;
}
.popular .box:hover{
    background: linear-gradient(45deg, #423738, #5c5353);
    cursor: pointer;
}
.popular .box_content{
    text-align: center;
}
.popular .box_content h6{
    font-weight: 600;
    font-size: 15px;
    color: #ccc;
}
/* Popular Cars Section End*/

/* Offer Section Start*/
.offer .container{
    margin-bottom: 200px;
}
.offer .row{
    margin: 10px auto;
}
.offer .box{
    background: rgba(125, 124, 125);
    padding: 20px;
    border-radius: 20px;
    transition: 0.8s ease-in-out;
    cursor: pointer;
    color: #fff !important;
    text-align: center;
}
.offer .box .btn{
    width: 300px;
}
.offer .box:hover{
    background: #000;
}
.offer .boxcontent h6{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin: 10px auto;
}
.offer .last{
    margin: 50px auto;
}
/* Offer Section End*/

/* Latest Car Section Start*/
.latest_car{
    margin-bottom: 200px;
}
.latest_car .box{
    background: rgba(125, 124, 125);
    padding: 20px;
    border-radius: 20px;
    transition: 0.8s ease-in-out;
    cursor: pointer;
    color: #fff !important;
    text-align: center;
    height: 400px;
    width: 350px;
}
.latest_car .box:hover{
    background: #000;
}
.latest_car .btn{
    width: 200px;
}
.latest_car .row{
    margin: 50px auto;
}
.latest_car .box_content{
    margin: 5px auto;
}
/* Latest Car Section End*/

/* Car Parts Section Start*/
.car-parts{
    margin-bottom: 200px;
    position: relative;
}
.car-parts .custom_car_parts{
    padding: 40px;
    background: rgba(72, 68, 68);
    border-radius: 10px;
}
.car-parts .box{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.car-parts .box img{
    height: 170px;
    width: 350 !important;
}
.car-parts .carousel-control-prev  .car-parts .carousel-control-next{
    opacity: 0.8;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: rgba(73, 70, 70);
    outline: none;
    text-align: center;
    margin: 150px 10px;
    padding: 10px;
    transition: 1s ease-in-out;
}
.car-parts .carousel-control-prev:hover .car-parts z.carousel-control-next:hover{
    background: #fff;
}
.car-parts .carousel-item .box h4{
    font-weight: bold;
    font-size: 50px;
    margin: 20px auto;
    color: #ccc;
}
.car-parts .carousel-item .box p{
    font-weight: bold;
    font-size: 12px;
    color: #ccc;
}
.car-parts .carousel-item .box .btn{
    border-radius: 10px;
    width: 200px;
    letter-spacing: 2px;
}
.car-parts .carousel-item .custom-box{
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.2), 
    inset 10px, 10px, 10px, -10px rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin-top: 50px;
    color: #fff !important;
    text-align: center;
    border-radius: 10px;
}
.car-parts .carousel-item .custom-box .svgContent h6 span{
    font-weight: 800;
    color: #ff0000 !important;
    font-size: 1.1em;

}
.car-parts .carousel-item .custom-box .svgContent h6{
    font-weight: 600;
    font-size: 1em;
}
/* Car Parts Section End*/

/* Latest News Section Start*/
.latest_news{
    margin-bottom: 200px;
}
.latest_news .box{
    background: rgba(72, 68, 68);
    padding: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    height: 400px;
    margin-top: 50px;
}
.latest_news .box:hover{
    background: #000;
}
.latest_news .boxcontent{
    margin: 10px auto;
    color: #fff;

}
.latest_news .boxcontent h6{
    font-weight: bold;
    font-size: 25px;
}
.latest_news .boxcontent p{
    font-weight: bold;
    font-size: 12px;
}
/* Latest News Section End*/

/* Testimoanial Section Start*/
.testimonial{
    margin-bottom: 200px;
}
.testimonial .box{
    box-shadow: 10px, 10px, 10px, -10px rgba(0, 0, 0, 0.5), 
    inset 10px 10px, 10px -10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    background: #5c5353;
    border-radius: 20px;
    text-align: center;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #fff;
}
.testimonial .box:hover{
    background: #000;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}
.testimonial .box img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial .box .fas{
    font-size: 30px;
    color: #ff0000;
}
.testimonial .box h6{
    font-weight: bold;
    font-size: 25px;
}
.testimonial .mid{
    margin-top: 100px;
}
/* Testimonial Section End*/

/* Footer Section Start*/
footer{
    background: #000;
    padding: 40px;
    text-align: center;
}
footer a{
    font-weight: bold;
    text-decoration: none !important;
    color: white !important;
}
footer a span{
    font-weight: bold;
    color: #ff0000 !important;
}
/* Footer Section End*/

/* ABOUT PAGE START*/
.about-page{
    color: #fff !important;
    overflow: hidden;
}
.about-page .about-main-section{
    margin: 160px  auto;
}
.about-page .about-main-section img{
    margin-top: 100px;
    cursor: pointer;

}
.about-page .about-main-section h6{
    font-weight: bold;
    font-size: 40px;
    margin: 20px auto;
}
.about-page .about-main-section h6 span{
    font-weight: 800;
    font-size: 50px;
    color: #ff0000;
}
.about-page .about-main-section p{
    font-size: 14px;
}
/* ABOUT PAGE END*/